Telegram_Vector_QA_chatbot.json
{
  "name": "Telegram_Vector_QA_chatbot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -40
      ],
      "id": "c8d44f64-bb8c-439d-957b-cff9a27ff1b5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1pEgyh0DuHZLnpZGTy0JOQd7JRlSvzuxi",
          "mode": "list",
          "cachedResultName": "HR-Guide_-Policy-and-Procedure-Template.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1pEgyh0DuHZLnpZGTy0JOQd7JRlSvzuxi/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        -40
      ],
      "id": "4fae91cb-839e-45ad-8976-3d0aca2aa0f4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1EeSQaEY25ApHQn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=hrpolicy",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -180,
        -40
      ],
      "id": "0d17297c-a31c-486b-b638-256140569eb6",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "lzzJkhKU9PhA3GLa",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        180
      ],
      "id": "3481e2be-ffee-4281-b5f5-108d48f3cba9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -40,
        160
      ],
      "id": "f7adaf2c-3330-4bdd-a2d8-d50e031ebafb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 4000,
        "chunkOverlap": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        260,
        280
      ],
      "id": "8fea1705-df39-4fca-bb4c-582f0e48ac5c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User's prompt:  {{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        1320,
        40
      ],
      "id": "046b7969-b253-4c70-b546-91374e798053",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        380
      ],
      "id": "4dda1658-fc08-47c0-bffe-655a4bad0511",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1560,
        240
      ],
      "id": "bc0b4bc8-24fa-418e-a483-ecca024d6c4a",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "hrpolicy",
          "mode": "list",
          "cachedResultName": "hrpolicy"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1880,
        400
      ],
      "id": "f45cb602-631f-40f9-9ba2-a763f789e871",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "lzzJkhKU9PhA3GLa",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2140,
        500
      ],
      "id": "f6a39c63-f7e3-44be-86fe-a5a8d8afae0a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        -20
      ],
      "id": "9e56f5a7-bfbf-49c1-b25f-d2dc675e8974",
      "name": "Telegram Trigger",
      "webhookId": "12b09055-fe9e-488a-99de-5056c10f1e22",
      "credentials": {
        "telegramApi": {
          "id": "U8CMEOUEchRHFAmZ",
          "name": "voice_trigger"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5d81de53-04ef-4502-84f2-2c775288a807"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "38fcbe8f-b7f3-41dd-b6b7-3f89b82718f2",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        480,
        -20
      ],
      "id": "348358b2-e9a1-41b0-b6e5-94684ab8ad0c",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        80
      ],
      "id": "87e1b520-c9b5-4c4b-ad3e-5c2b16a8dae6",
      "name": "Get a file",
      "webhookId": "1a5832a4-9946-4ea6-997d-499422908da1",
      "credentials": {
        "telegramApi": {
          "id": "U8CMEOUEchRHFAmZ",
          "name": "voice_trigger"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        220
      ],
      "id": "6d472c4c-2e61-454e-9f92-bd09d172cd38",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8d5044e-99ea-4fb0-8391-331999c7a08c",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -120
      ],
      "id": "17304ca1-bc59-43f1-bc77-2503f34dff13",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        40
      ],
      "id": "fcc0ca9f-71e0-4552-b1ce-8d7c3d381a7c",
      "name": "Send a text message",
      "webhookId": "a53fa952-b2c8-4f0c-925b-3c1e6968f8e2",
      "credentials": {
        "telegramApi": {
          "id": "U8CMEOUEchRHFAmZ",
          "name": "voice_trigger"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc194d5e-d71d-40c4-ab66-8d6e9834f603",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "785b50de3b97837403db1eda6f5bf37474323db6ff6c26cf750509896c53a5c2"
  },
  "id": "s9vHDxQQztTBxhL1",
  "tags": []
}