TranscribeGoogleTrigger.json
{
  "name": "TranscribeGoogleTrigger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        -180
      ],
      "id": "86f1553b-9587-4275-b011-d345fcda11dd",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        -140
      ],
      "id": "8c2cc092-6c26-4387-a80a-73da19e2fb64",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1EeSQaEY25ApHQn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -340,
        -140
      ],
      "id": "8e355c1d-df16-4c8d-a50b-3db812c83a5a",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "Transcribedfile.mp3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        520,
        60
      ],
      "id": "3dccd0f3-a1e0-4b3c-8880-9c9146edf2c1",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1EeSQaEY25ApHQn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        -420,
        60
      ],
      "id": "262bc3b7-ad72-4721-bfe2-e05af76075f8",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        240
      ],
      "id": "fd9bcee5-f852-47ec-9746-ab9e2891d54a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Translate to Hindi"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -100,
        60
      ],
      "id": "930e3fbc-89e3-49bd-92b2-34554e36585b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        220
      ],
      "id": "9c95427e-4c82-4ad4-9555-718795749a06",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        260,
        60
      ],
      "id": "f0a632e9-d162-403d-a7eb-1e97437b309e",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "qVet70zxm0dcmUf2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ry_8fpqZO1D2L2z-cmkMhN8ey1JK7_Pk",
          "mode": "list",
          "cachedResultName": "Audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ry_8fpqZO1D2L2z-cmkMhN8ey1JK7_Pk"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        60
      ],
      "id": "31d26b74-e7f0-4435-8a91-d21110065a76",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "l1EeSQaEY25ApHQn",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a829192-3f5a-4eb6-8977-f65ce5e84566",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "785b50de3b97837403db1eda6f5bf37474323db6ff6c26cf750509896c53a5c2"
  },
  "id": "GjiEALP13oHsefrG",
  "tags": []
}